In [1]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score
from tqdm import tqdm

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/kunal/Downloads/TrainingData.csv')

In [4]:
df.drop(['CID'], axis=1)

                                                Bitstream  class
0       1110101100001100011010101011111111101000110111...      0
1       1100111110000110111110100011111101111100110100...      0
2       1010001000000111000010000001100100011010011110...      0
3       0111001010111101010001011110010001011000000010...      1
4       0100010101101101111000100111101100111110001110...      1
...                                                   ...    ...
249995  0001110100010000111010001100110000110110011101...      1
249996  0001010100111001111100001110111011010000100000...      0
249997  1001011110111001010011100001001011101100110000...      1
249998  1110101001011101100101011101110101001000001100...      1
249999  0101100101010011100011001011001011010101010001...      0

[250000 rows x 2 columns]

In [5]:
# Expand the Bitstream column into multiple columns
expanded_bitstream = df['Bitstream'].apply(lambda x: pd.Series(list(x)))

# Concatenate the expanded Bitstream columns with the class column
df = pd.concat([expanded_bitstream, df['class']], axis=1)

In [6]:
df

        0  1  2  3  4  5  6  7  8  9  ... 55 56 57 58 59 60 61 62 63 class
0       1  1  1  0  1  0  1  1  0  0  ...  0  0  0  0  1  1  1  0  0     0
1       1  1  0  0  1  1  1  1  1  0  ...  1  0  1  0  0  0  1  1  0     0
2       1  0  1  0  0  0  1  0  0  0  ...  1  1  1  0  1  0  1  0  1     0
3       0  1  1  1  0  0  1  0  1  0  ...  0  1  1  0  1  1  1  1  1     1
4       0  1  0  0  0  1  0  1  0  1  ...  0  0  0  1  1  0  1  0  0     1
...    .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..   ...
249995  0  0  0  1  1  1  0  1  0  0  ...  0  0  0  0  0  0  1  1  0     1
249996  0  0  0  1  0  1  0  1  0  0  ...  1  0  1  0  0  1  0  1  0     0
249997  1  0  0  1  0  1  1  1  1  0  ...  1  0  1  1  0  1  0  1  0     1
249998  1  1  1  0  1  0  1  0  0  1  ...  1  0  0  0  0  0  1  0  0     1
249999  0  1  0  1  1  0  0  1  0  1  ...  0  1  0  1  1  0  0  1  0     0

[250000 rows x 65 columns]

In [7]:
X = df.drop(['class'], axis=1)

y = df['class']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
# Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
estimators = [('svc', SVC(C=1, probability=True))]

In [26]:
voting_classifier = VotingClassifier(estimators=estimators, voting='soft')

In [ ]:
# Train the voting classifier
voting_classifier.fit(X_train, y_train)

In [ ]:
# Make predictions
y_pred = voting_classifier.predict(X_test)

In [ ]:
# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

In [ ]:
# Initialize the models
estimators = [('lr', LogisticRegression()), ('rf', RandomForestClassifier()), 
              ('svc', SVC(probability=True)), ('gb', GradientBoostingClassifier())]